body{
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4,h5,h6{
      font-family: 'Oswald', sans-serif;
  }
  .header-bg{
      background:
      url(images/donation9.jpg);
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .header-title{
      font-size: 85px;
      font-weight: bold;
      color: white;
  }
  .header-text-box{
      text-align: center;
      width: 800px;
      margin-inline: auto;
      padding-top: 240px;
  }
  p.header-desc {
    font-size: 25px;
    color: white;
    margin: -40px 0px 40px 0px;
    line-height: 35px;
    margin-bottom: 50px;
}
a.donate-btn{
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    border-radius: 5px;
    background: #fb5200;
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.single-box-parent {
    height: auto;
}
.single-box-text {
    width: 800px;
    margin-inline: auto;
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
    margin-bottom: 55px;
}

.single-box-text h1 {
    font-size: 85px;
}

.single-box-text p {
    font-size: 25px;
    color: dimgray;
}
.flexible-box-items {
    display: flex;
    width: 900px;
    margin-inline: auto;
    padding: 20px;
    margin-bottom: 30px;
}

.flexible-box-items h2 {
    width: 110px;
    margin: 0 15px;
    background: #d3d3d347;
    padding: 50px 25px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    color: dimgray;
}
h2.flexible-box-color {
    border: 2px solid #ff4747ad;
    background: #ff63471a;
}
.place-holder-items {
    width: 900px;
    margin-inline: auto;
    padding: 40px 0px;
    text-align: center;
}
input.place-holder-txt {
    width: 900px;
    text-align: center;
    font-size: 25px;
    border: none;
    outline: none;
}

.place-holder-items hr {
    margin-bottom: 100px;
}
.donate-plan-items{
    width: 800px;
    margin-inline: auto;
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
    margin-bottom: 55px;
}
.donate-plan-items h1 {
    font-size: 85px;
}
.donate-plan-items p {
    font-size: 25px;
    color: dimgray;
}
.donate-plan-box {
    display: flex;
    justify-content: center;
}

.donate-plan-one {
    width: 20%;
    background: #cfe1f1;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 65px 15px;
}
.donate-plan-two {
    width: 20%;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 65px 15px;
    background: antiquewhite;
}
.donate-plan-three {
    width: 20%;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 65px 15px;
    background: pink;
}
.donate-plan-box img {
    padding: 30px 10px;
    width: 80px;
}

.donate-plan-box h3 {
    font-size: 40px;
    word-spacing: 5px;
} 
.donate-plan-box p {
    font-size: 25px;
    color: dimgray;
}